@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
  <div class="row text-white" style="background-color: #EE893A">
    <div class="row">&nbsp</div>
    <h2 style="text-align:center"> Search among 19,535 properties</h2>
    <div class="row">&nbsp</div>
    
    <div class="input-group">
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Where would you like to live" aria-label="Search" aria-describedby="search-addon"/>
        <button type="button"  style="background-color:#332A8A; color:#FFFFFF" class="btn btn-outline-primary">Search</button>
      </div>
    </div>
    <div class="row">&nbsp</div><div class="row">&nbsp</div><div class="row">&nbsp</div><div class="row">&nbsp</div>
  </div>
 
  
  
  <div class="row text-white" style="background-color: #332A8A">
    <div class="row">&nbsp</div>
    <p style="text-align:center"> Find a buyer in no time <button class="btn bg-warning">Create listing</button></p>
    
  </div>
  <div class="row">&nbsp</div><div class="row">&nbsp</div>
  
  <div class="row"> 
    <h3 style="text-align:center"> Listing categories </h3>
    
  <div class="col-sm"></div>
  <div class="col-sm">
    For sale
    <div class="col-md"> 
    <button type="button" class="btn btn-primary">House</button>
      <button type="button" class="btn btn-primary">Apartment</button>
      </div>
  </div>
  <div class="col-sm"></div>
  <div class="col-sm">
    For rent
    <div class="col-md"> 
    <button type="button" class="btn btn-primary">House</button>
      <button type="button" class="btn btn-primary">Apartment</button>
      </div>
  </div>
  <div class="col-sm"></div>
</div>
</div>





  


